.notes {    
    width: 600px;
    margin: 20px auto;
    box-sizing: border-box;
    padding: 1em 0;
    display: flex;
    flex-direction: column;  
  }
  
  .note {
    padding: 1em;
    background-color: white;
    border: 1px solid #f2f2f2;
    margin-bottom: 20px;
  }
  
  .note-title {
    padding: .5em 0;
  }
  