.form-field {
  padding: .8em 1em;
  font-size: 1em;
  outline: none;
}

.multlines-height {
  min-height: 80px;
  resize: none;
  padding: 1em;      
  overflow: hidden;    
}

div:empty::before {
  color: grey;
}
div[placeholder]:not([placeholder=""]):empty::before {
  content: attr(placeholder);
}
div:empty::before {
  content: "fallback placeholder";
}
